<<<<<<< HEAD
body {
    background-color: #181818 !important;
    color: white !important;
}

.customStyle:hover {
    color: white;
=======
/* GENERAL */

body {
    background-color: #202020 !important;
    color: white !important;
}

.customButton {
    padding: 8px 24px 8px 24px !important;
    margin-top: 8px !important;
}

.title {
    font-size: 42px;
    margin-top: 40px;
    margin-bottom: 40px;
>>>>>>> master
}

.navbar {
    background-color: #282828 !important;
}

<<<<<<< HEAD
.navbarToggler {
    color: white !important;
    border-color: rgb(112, 112, 112) !important;
}

.navbarToggler .navbar-toggler-icon {
}

.navlink > a:first-child {
    color: white !important;
}

.navlink > a {
    color: #aaaaaa !important;
}

.navlink > a:hover {
    color: white !important;
}

.calcTextField {
    width: 100%;
    color: white;
    font-size: 62px !important;
    text-align: right !important;
}
.calcButton {
    background-color: #282828 !important;
    border-radius: 100px !important;
    width: 70px !important;
    height: 70px !important;
    font-size: 24px !important;
    color: white !important;
}

.calcButtonSpecial {
    background-color: #7a5af5 !important;
}

.userCard {
    padding: 15px;
    background-color: #282828 !important;
    color: white !important;
}

.cardItemTitle {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.hobbiesContainer {
    max-width: 1200px !important;
    padding-top: 80px;
    padding-bottom: 120px;
}

=======
.circularProgress {
    color: #a688fa !important;
}

.wrapper {
    max-width: 1200px !important;
    padding: 80px 30px 80px 30px !important;
}

/* HOME */

.homeTitle {
    margin-bottom: 24px;
}

.homeTextField {
    border-color: red !important;
}

.homeCard {
    color: white !important;
    background-color: #282828 !important;
}

/* HOBBIES */

>>>>>>> master
.hobbiesHobby {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 120px;
}

.hobbiesHobbyIsLast {
    margin-bottom: 0px;
}

.hobbiesHobby > div > p {
    font-size: 18px;
    color: #cccccc;
}

.hobbiesHobbyImage {
    margin-left: 28px;
    width: 600px !important;
    height: 350px;
    border-radius: 8px;
}

<<<<<<< HEAD
.title {
    font-size: 42px;
    margin-top: 40px;
    margin-bottom: 40px;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
=======
.hobbiesHobbyPlayer {
    margin-top: 24px !important; /* Set your desired background color for the ReactPlayer component */
 }

/* CALCULATOR */

.calcTextField {
    width: 100%;
    color: white;
    font-size: 62px !important;
    text-align: right !important;
}

.calcButton {
    background-color: #282828 !important;
    border-radius: 100px !important;
    width: 70px !important;
    height: 70px !important;
    font-size: 24px !important;
    color: white !important;
}

.calcButtonSpecial {
    background-color: #7a5af5 !important;
}

.cardItemTitle {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

/* JSON */

.jsonCard {
    padding: 15px;
    background-color: #282828 !important;
    color: white !important;
}

@media screen and (max-width: 1150px) {
    .hobbiesHobby {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .hobbiesHobbyImage {
        margin-left: 0;
        width: 100% !important;
        height: initial;
    }
    .customButton {
      width: 100%;
      margin-bottom: 24px !important;
    }
    .hobbiesHobbyPlayer {
        margin-bottom: 24px !important; /* Set your desired background color for the ReactPlayer component */
     }
>>>>>>> master
}
